<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>JsonMapper iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JsonMapper macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JsonMapper tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>JsonMapper watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A00504E1E457F2E00EF4CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A00505B1E457F4400EF4CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0050681E457F5600EF4CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A00508A1E457FA300EF4CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0050971E457FBF00EF4CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0050A31E45803000EF4CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A0050B41E4581E700EF4CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AF859BA1DD1C6DB00BE72D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
